* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: 0;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    background-color: #E5E5E5;
    ;
}

.header {
    height: 90px;
    background: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.SQ {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    margin-left: 35px;
}

.header_list {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-family: robo;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    margin-right: 35px;
}

.header_list a {
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 10px;
}

.header_list a:hover {
    background: #C4C4C4;
    transition: .5s;
}


.btn {
    padding: 11px 16px;
    background: #373737;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-width: 0px;
}

.btn:active {
    box-shadow: 4px 4px 8px 0px rgb(40, 124, 65);
}

.header_nav_btn {
    display: flex;
}

.header_nav_ul {
    display: flex;
}


.d6 input {
    height: 50px;
    width: 0;
    padding: 0 55px 0 55px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    background: url(./img/Search.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);

    top: 0;
    right: 0;
    z-index: 2;
    font-size: 20px;
}

.d6 input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
    background-image: none;
    transition: .5s;
}



.heade_background {
    width: 100%;
    height: 760px;
    background-image: url(./img/header-background.jpg);
    position: relative;
    background-repeat: no-repeat;
}

.social_icon {
    width: 21.5%;
    height: 930px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}

.soc_icon {
    width: 100%;
    height: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 150px;
}

.black_block {
    width: 100%;
    height: 34%;
    background-color: black;
}
.facebook:hover{
    padding: 5px;
    transition: .5s;
    transform: scale(1.5);
    background: blue;
}
.instag {
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    
}
.instag:hover{
    padding:8px 5px 5px 5px;
    transition: .5s;
    transform: scale(1.5);
    background: rgb(233, 29, 114);
}
.twitter:hover{
    padding:8px 5px 5px 5px;
    transition: .5s;
    transform: scale(1.5);
    background: rgb(42, 104, 236);
    border-radius: 10px;
}

.header_background_content {
    height: 340px;

    width: 78.5%;
    position: absolute;
    top: 21%;
    right: 0;
    background: linear-gradient(112.8deg, rgba(207, 207, 207, 0.26) 0%, rgba(207, 207, 207, 0.06) 92.87%);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header_background_text {
    font-size: 36px;
    font-family: 'Revalia', cursive;
    font-weight: 400;
    line-height: 44px;
}

.header_background_text2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
    margin-top: 25px;
}

.header_content3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    text-align: center;

}

.header_bottom {
    display: flex;
    justify-content: center;

    text-align: center;

}

.header_number {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}

.heade_bottom_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;

}

.header_bottom_block {
    margin-top: 40px;
    margin-left: 40px;
}

.heade_bottom_text {
    margin-top: 25px;
    display: flex;
    align-items: center;
    text-align: center;

}

/* <!-- END HEADER -->
        <!-- START CONTENT --> */
.content {
    width: 1160px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.content_title {
    display: block;
    width: 275px;
    margin-top: 120px;
    position: relative;
    /* overflow: hidden; */
}

.content_title h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}

.content_title p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #373737;
    line-height: 25px;
    margin-top: 15px;

}

.about_us_content {
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
    height: 400px;
}

.more_about {
    display: flex;
    margin-top: 30px;

}

.content_top_img {
    height: 100%;
    width: 100%;
    margin-left: -12%;
    /* border-radius: 0px 5px 5px 0px; */
}

.content_top_img img {
    border-radius: 0px 5px 5px 0px;
}

.content_top_text {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #373737;
    width: 95%;
    /* margin-left: 30px; */
    /* flex-wrap: wrap; */
}

.content_blockII {
    width: 450px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #373737;
    line-height: 25px;
    margin-top: 120px;
    position: relative;

}

.content_blockII h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}

.content_blockII p {
    margin-top: 15px;
    margin-bottom: 45px;
    padding-left: 80px;
}

.content_blockII p::before {
    width: 70px;
    content: "";
    position: absolute;
    border-bottom: 1px solid #000;
    bottom: 25%;
    right: 375px;
}
.content_blockIII{
    width: 370px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #373737;
    line-height: 25px;
    margin: 120px auto 45px auto;
    text-align: center;
}
.content_blockIII h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}

.content_blockIII p {
    margin-top: 15px;
}


.logo_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}

.service {
    /* margin-top: 120px; */
    margin-bottom: 45px;
}

.service_type {
    display: flex;

}

.delevary_guarnatee_quality {
    width: 33%;

}

.delevary_guarnatee_quality:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.delevary_guarnatee_quality h6 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}

.delevary_guarnatee_quality p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: start;
    width: 80%;
    color: #696161;
}

.centreee {
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    width: 31%;
    margin-bottom: 55px;

}

.search_furniture {
    position: relative;
    width: 265px;

}

.d1 {

    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d1 input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: 2px solid #68686800;
    border-radius: 5px;
    outline: none;
    background: #EFEFEF;
    color: #686868;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.d1 button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 50px;
    height: 50px;
    border: none;
    background: #373737;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;

}

.furniture_list ul {
    display: flex;
}

.furniture_item {
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #686868;
}

.furniture_item:active {
    color: #000000;
}

.furniture_shop {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.furniture_shop_list {
    width: 265px;
    height: 340px;
    margin-bottom: 35px;
    background: #F9F9F9;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.furniture_shop_list:hover {
    box-shadow: 8px 8px 20px rgba(39, 39, 43, 0.1);
    transform: scale(1.3);
    transition: .5s;
}

.furniture_shop_list h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #373737;
    margin-left: 5px;
    margin-right: 5px;
}

.furniture_shop_list p {
    color: #696161;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.furniture_img {
    width: 100%;
    border-radius: 5px;
}

.furniture_shop_list span {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.marggin {
    margin-left: 5px;
}

.content_title p::before {
    display: block;
    width: 70px;
    content: "";
    position: absolute;
    border-bottom: 1px solid #000;
    bottom: 15%;
    right: 205px;
}

.content_title p {
    padding-left: 75px;
}
.btn_end_shop{
    display: block;
    margin: 50px auto 0 auto;
}






/* .content_title  */
/* font-family: 'Revalia', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'ABeeZee', sans-serif;*/